.thethe-toggle-header {border:none!important}
h3.thethe-toggle-header a {font-size:14px!important;color:#e9e9e9!important;background:#1C1E21!important;border:none!important;font-family:Verdana!important}
h3.thethe-toggle-header a:hover {text-decoration:none!important}
h3.thethe-toggle-header a span {font-size:14px!important;color:#fcde55!important;background:#1C1E21!important}
.thethe-toggle-content {border:none!important;background:#1C1E21!important;color:#fcde55!important;font-family:Verdana!important;margin-left:-16px!important}
.thethe-toggle-content p {font-family:Verdana!important}
.thethe-toggle-group {border:none!important;}
.thethe-toggle-content img {margin-bottom:10px!important;}

.toggle_header {
    font-size:14px;
    font-weight: normal;
    margin-bottom: 5px;
}
.toggle_header span {
    color:#fcde55
}
.toggle_header .toggle_arrow {
    display: inline-block;
    color:#888;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
}
.toggle_content {
    padding-left: 20px;
}